PredmetniProjekat/ReportManager/Connected Services/ServiceReference1/ReportManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61526/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CoreService" />
  <xs:element name="AlarmsFromToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsFromToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="AlarmsFromToDateResult" nillable="true" type="q1:ArrayOfAlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="ByPriorityResult" nillable="true" type="q2:ArrayOfAlarmData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValuesFromToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValuesFromToDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="ValuesFromToDateResult" nillable="true" type="q3:ArrayOfTagData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AIValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AIValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="AIValuesResult" nillable="true" type="q4:ArrayOfTagData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DIValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DIValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="DIValuesResult" nillable="true" type="q5:ArrayOfTagData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValuesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValuesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CoreService" minOccurs="0" name="ValuesByIdResult" nillable="true" type="q6:ArrayOfTagData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>